<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/home"
        [text]="'BUTTONS.BACK' | translate"
      ></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-title color="primary" translate>TITLES.POKEDEX</ion-title>
    </ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openFilters();">
        <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="filterChoice">
    <pks-pokedex-by-generation
      *ngSwitchCase="'generation'"
      [generations]="data"
    ></pks-pokedex-by-generation>

    <pks-pokedex-by-pokemon
      *ngSwitchCase="'pokemon'"
      [pokemons]="data"
    ></pks-pokedex-by-pokemon>

    <pks-pokedex-by-type
      *ngSwitchCase="'type'"
      [pokemonTypes]="data"
    ></pks-pokedex-by-type>
  </ng-container>
</ion-content>
