// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2f5d62;
  --ion-color-primary-rgb: 47, 93, 98;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #295256;
  --ion-color-primary-tint: #446d72;

  --ion-color-secondary: #5e8b7e;
  --ion-color-secondary-rgb: 94, 139, 126;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #537a6f;
  --ion-color-secondary-tint: #6e978b;

  --ion-color-tertiary: #a7c4bc;
  --ion-color-tertiary-rgb: 167, 196, 188;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #93aca5;
  --ion-color-tertiary-tint: #b0cac3;

  --ion-color-success: #10ac84;
  --ion-color-success-rgb: 16, 172, 132;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0e9774;
  --ion-color-success-tint: #28b490;

  --ion-color-warning: #ffb347;
  --ion-color-warning-rgb: 255, 179, 71;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e09e3e;
  --ion-color-warning-tint: #ffbb59;

  --ion-color-danger: #ff6961;
  --ion-color-danger-rgb: 255, 105, 97;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e05c55;
  --ion-color-danger-tint: #ff7871;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #dfeeea;
  --ion-color-light-rgb: 223, 238, 234;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c4d1ce;
  --ion-color-light-tint: #e2f0ec;

  --ion-color-fire: #ee562f;
  --ion-color-fire-rgb: 238, 86, 47;
  --ion-color-fire-contrast: #ffffff;
  --ion-color-fire-contrast-rgb: 255, 255, 255;
  --ion-color-fire-shade: #d14c29;
  --ion-color-fire-tint: #f06744;

  --ion-color-normal: #a8a77a;
  --ion-color-normal-rgb: 168, 167, 122;
  --ion-color-normal-contrast: #000000;
  --ion-color-normal-contrast-rgb: 0, 0, 0;
  --ion-color-normal-shade: #94936b;
  --ion-color-normal-tint: #b1b087;

  --ion-color-water: #6390f0;
  --ion-color-water-rgb: 99, 144, 240;
  --ion-color-water-contrast: #000000;
  --ion-color-water-contrast-rgb: 0, 0, 0;
  --ion-color-water-shade: #577fd3;
  --ion-color-water-tint: #739bf2;

  --ion-color-ice: #f7d02c;
  --ion-color-ice-rgb: 247, 208, 44;
  --ion-color-ice-contrast: #000000;
  --ion-color-ice-contrast-rgb: 0, 0, 0;
  --ion-color-ice-shade: #d9b727;
  --ion-color-ice-tint: #f8d541;

  --ion-color-grass: #7ac74c;
  --ion-color-grass-rgb: 122, 199, 76;
  --ion-color-grass-contrast: #000000;
  --ion-color-grass-contrast-rgb: 0, 0, 0;
  --ion-color-grass-shade: #6baf43;
  --ion-color-grass-tint: #87cd5e;

  --ion-color-ice: #96d9d6;
  --ion-color-ice-rgb: 150, 217, 214;
  --ion-color-ice-contrast: #000000;
  --ion-color-ice-contrast-rgb: 0, 0, 0;
  --ion-color-ice-shade: #84bfbc;
  --ion-color-ice-tint: #a1ddda;

  --ion-color-fighting: #c22e28;
  --ion-color-fighting-rgb: 194, 46, 40;
  --ion-color-fighting-contrast: #ffffff;
  --ion-color-fighting-contrast-rgb: 255, 255, 255;
  --ion-color-fighting-shade: #ab2823;
  --ion-color-fighting-tint: #c8433e;

  --ion-color-poison: #a33ea1;
  --ion-color-poison-rgb: 163, 62, 161;
  --ion-color-poison-contrast: #ffffff;
  --ion-color-poison-contrast-rgb: 255, 255, 255;
  --ion-color-poison-shade: #8f378e;
  --ion-color-poison-tint: #ac51aa;

  --ion-color-ground: #e2bf65;
  --ion-color-ground-rgb: 226, 191, 101;
  --ion-color-ground-contrast: #000000;
  --ion-color-ground-contrast-rgb: 0, 0, 0;
  --ion-color-ground-shade: #c7a859;
  --ion-color-ground-tint: #e5c574;

  --ion-color-flying: #a98ff3;
  --ion-color-flying-rgb: 169, 143, 243;
  --ion-color-flying-contrast: #000000;
  --ion-color-flying-contrast-rgb: 0, 0, 0;
  --ion-color-flying-shade: #957ed6;
  --ion-color-flying-tint: #b29af4;

  --ion-color-psychic: #f95587;
  --ion-color-psychic-rgb: 249, 85, 135;
  --ion-color-psychic-contrast: #000000;
  --ion-color-psychic-contrast-rgb: 0, 0, 0;
  --ion-color-psychic-shade: #db4b77;
  --ion-color-psychic-tint: #fa6693;

  --ion-color-bug: #a6b91a;
  --ion-color-bug-rgb: 166, 185, 26;
  --ion-color-bug-contrast: #000000;
  --ion-color-bug-contrast-rgb: 0, 0, 0;
  --ion-color-bug-shade: #92a317;
  --ion-color-bug-tint: #afc031;

  --ion-color-rock: #b6a136;
  --ion-color-rock-rgb: 182, 161, 54;
  --ion-color-rock-contrast: #000000;
  --ion-color-rock-contrast-rgb: 0, 0, 0;
  --ion-color-rock-shade: #a08e30;
  --ion-color-rock-tint: #bdaa4a;

  --ion-color-ghost: #735797;
  --ion-color-ghost-rgb: 115, 87, 151;
  --ion-color-ghost-contrast: #ffffff;
  --ion-color-ghost-contrast-rgb: 255, 255, 255;
  --ion-color-ghost-shade: #654d85;
  --ion-color-ghost-tint: #8168a1;

  --ion-color-dragon: #6f35fc;
  --ion-color-dragon-rgb: 111, 53, 252;
  --ion-color-dragon-contrast: #ffffff;
  --ion-color-dragon-contrast-rgb: 255, 255, 255;
  --ion-color-dragon-shade: #622fde;
  --ion-color-dragon-tint: #7d49fc;

  --ion-color-dark: #705746;
  --ion-color-dark-rgb: 112, 87, 70;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #634d3e;
  --ion-color-dark-tint: #7e6859;

  --ion-color-steel: #b7b7ce;
  --ion-color-steel-rgb: 183, 183, 206;
  --ion-color-steel-contrast: #000000;
  --ion-color-steel-contrast-rgb: 0, 0, 0;
  --ion-color-steel-shade: #a1a1b5;
  --ion-color-steel-tint: #bebed3;

  --ion-color-fairy: #d685ad;
  --ion-color-fairy-rgb: 214, 133, 173;
  --ion-color-fairy-contrast: #000000;
  --ion-color-fairy-contrast-rgb: 0, 0, 0;
  --ion-color-fairy-shade: #bc7598;
  --ion-color-fairy-tint: #da91b5;
}

.ion-color-fire {
  --ion-color-base: var(--ion-color-fire);
  --ion-color-base-rgb: var(--ion-color-fire-rgb);
  --ion-color-contrast: var(--ion-color-fire-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fire-contrast-rgb);
  --ion-color-shade: var(--ion-color-fire-shade);
  --ion-color-tint: var(--ion-color-fire-tint);
}

.ion-color-normal {
  --ion-color-base: var(--ion-color-normal);
  --ion-color-base-rgb: var(--ion-color-normal-rgb);
  --ion-color-contrast: var(--ion-color-normal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-normal-contrast-rgb);
  --ion-color-shade: var(--ion-color-normal-shade);
  --ion-color-tint: var(--ion-color-normal-tint);
}

.ion-color-electric {
  --ion-color-base: var(--ion-color-electric);
  --ion-color-base-rgb: var(--ion-color-electric-rgb);
  --ion-color-contrast: var(--ion-color-electric-contrast);
  --ion-color-contrast-rgb: var(--ion-color-electric-contrast-rgb);
  --ion-color-shade: var(--ion-color-electric-shade);
  --ion-color-tint: var(--ion-color-electric-tint);
}

.ion-color-grass {
  --ion-color-base: var(--ion-color-grass);
  --ion-color-base-rgb: var(--ion-color-grass-rgb);
  --ion-color-contrast: var(--ion-color-grass-contrast);
  --ion-color-contrast-rgb: var(--ion-color-grass-contrast-rgb);
  --ion-color-shade: var(--ion-color-grass-shade);
  --ion-color-tint: var(--ion-color-grass-tint);
}

.ion-color-ice {
  --ion-color-base: var(--ion-color-ice);
  --ion-color-base-rgb: var(--ion-color-ice-rgb);
  --ion-color-contrast: var(--ion-color-ice-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ice-contrast-rgb);
  --ion-color-shade: var(--ion-color-ice-shade);
  --ion-color-tint: var(--ion-color-ice-tint);
}

.ion-color-fighting {
  --ion-color-base: var(--ion-color-fighting);
  --ion-color-base-rgb: var(--ion-color-fighting-rgb);
  --ion-color-contrast: var(--ion-color-fighting-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fighting-contrast-rgb);
  --ion-color-shade: var(--ion-color-fighting-shade);
  --ion-color-tint: var(--ion-color-fighting-tint);
}

.ion-color-poison {
  --ion-color-base: var(--ion-color-poison);
  --ion-color-base-rgb: var(--ion-color-poison-rgb);
  --ion-color-contrast: var(--ion-color-poison-contrast);
  --ion-color-contrast-rgb: var(--ion-color-poison-contrast-rgb);
  --ion-color-shade: var(--ion-color-poison-shade);
  --ion-color-tint: var(--ion-color-poison-tint);
}

.ion-color-ground {
  --ion-color-base: var(--ion-color-ground);
  --ion-color-base-rgb: var(--ion-color-ground-rgb);
  --ion-color-contrast: var(--ion-color-ground-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ground-contrast-rgb);
  --ion-color-shade: var(--ion-color-ground-shade);
  --ion-color-tint: var(--ion-color-ground-tint);
}

.ion-color-flying {
  --ion-color-base: var(--ion-color-flying);
  --ion-color-base-rgb: var(--ion-color-flying-rgb);
  --ion-color-contrast: var(--ion-color-flying-contrast);
  --ion-color-contrast-rgb: var(--ion-color-flying-contrast-rgb);
  --ion-color-shade: var(--ion-color-flying-shade);
  --ion-color-tint: var(--ion-color-flying-tint);
}

.ion-color-psychic {
  --ion-color-base: var(--ion-color-psychic);
  --ion-color-base-rgb: var(--ion-color-psychic-rgb);
  --ion-color-contrast: var(--ion-color-psychic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-psychic-contrast-rgb);
  --ion-color-shade: var(--ion-color-psychic-shade);
  --ion-color-tint: var(--ion-color-psychic-tint);
}

.ion-color-bug {
  --ion-color-base: var(--ion-color-bug);
  --ion-color-base-rgb: var(--ion-color-bug-rgb);
  --ion-color-contrast: var(--ion-color-bug-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bug-contrast-rgb);
  --ion-color-shade: var(--ion-color-bug-shade);
  --ion-color-tint: var(--ion-color-bug-tint);
}

.ion-color-rock {
  --ion-color-base: var(--ion-color-rock);
  --ion-color-base-rgb: var(--ion-color-rock-rgb);
  --ion-color-contrast: var(--ion-color-rock-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rock-contrast-rgb);
  --ion-color-shade: var(--ion-color-rock-shade);
  --ion-color-tint: var(--ion-color-rock-tint);
}

.ion-color-ghost {
  --ion-color-base: var(--ion-color-ghost);
  --ion-color-base-rgb: var(--ion-color-ghost-rgb);
  --ion-color-contrast: var(--ion-color-ghost-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ghost-contrast-rgb);
  --ion-color-shade: var(--ion-color-ghost-shade);
  --ion-color-tint: var(--ion-color-ghost-tint);
}

.ion-color-dragon {
  --ion-color-base: var(--ion-color-dragon);
  --ion-color-base-rgb: var(--ion-color-dragon-rgb);
  --ion-color-contrast: var(--ion-color-dragon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dragon-contrast-rgb);
  --ion-color-shade: var(--ion-color-dragon-shade);
  --ion-color-tint: var(--ion-color-dragon-tint);
}

.ion-color-dark {
  --ion-color-base: var(--ion-color-dark);
  --ion-color-base-rgb: var(--ion-color-dark-rgb);
  --ion-color-contrast: var(--ion-color-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-shade);
  --ion-color-tint: var(--ion-color-dark-tint);
}

.ion-color-steel {
  --ion-color-base: var(--ion-color-steel);
  --ion-color-base-rgb: var(--ion-color-steel-rgb);
  --ion-color-contrast: var(--ion-color-steel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-steel-contrast-rgb);
  --ion-color-shade: var(--ion-color-steel-shade);
  --ion-color-tint: var(--ion-color-steel-tint);
}

.ion-color-fairy {
  --ion-color-base: var(--ion-color-fairy);
  --ion-color-base-rgb: var(--ion-color-fairy-rgb);
  --ion-color-contrast: var(--ion-color-fairy-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fairy-contrast-rgb);
  --ion-color-shade: var(--ion-color-fairy-shade);
  --ion-color-tint: var(--ion-color-fairy-tint);
}
