<ion-text>
  <h1 translate class="ion-no-margin">POKEMONS</h1>
</ion-text>

<ion-virtual-scroll [items]="pokemons" approxItemHeight="80px">
  <ion-item
    *virtualItem="let pokemon"
    [routerLink]="['/', 'pokemon-tabs', 'pokemon-detail', pokemon.id]"
    detail="false"
  >
    <ion-thumbnail slot="start" class="border-radius-none">
      <ion-img [src]="createPokemonImageUrl(pokemon.pokedexId)"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ pokemon.name | languageTranslate }}</h2>
    </ion-label>
    <ion-chip
      [color]="type.name | languageTranslate: true | lowercase"
      *ngFor="let type of pokemon.pokemonTypes"
    >
      <ion-icon
        [name]="type.name | languageTranslate: true | lowercase"
      ></ion-icon>
    </ion-chip>
  </ion-item>
</ion-virtual-scroll>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
