<ion-text>
  <h1 translate class="ion-no-margin">POKEMONS</h1>
</ion-text>

<!-- <ng-template #pokemonsTemplate let-item="item">
  <ion-item
    [routerLink]="['/', 'pokemon-tabs', 'pokemon-detail', item.id]"
    detail="false"
  >
    <ion-thumbnail slot="start" class="border-radius-none">
      <ion-img [src]="createPokemonImageUrl(item.pokedexId)"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ item.name | languageTranslate }}</h2>
    </ion-label>
    <ion-chip
      [color]="type.name | languageTranslate: true | lowercase"
      *ngFor="let type of item.pokemonTypes"
    >
      <ion-icon
        [name]="type.name | languageTranslate: true | lowercase"
      ></ion-icon>
    </ion-chip>
  </ion-item>
</ng-template>

<pks-virtual-infinite-scroll
  [items]="pokemons"
  (onScrollEvent)="loadData()"
  [templateName]="pokemonsTemplate"
></pks-virtual-infinite-scroll> -->

<cdk-virtual-scroll-viewport itemSize="60" class="full-height">
  <ng-container *cdkVirtualFor="let item of dataSource">
    <ion-item
      [routerLink]="['/', 'pokemon-tabs', 'pokemon-detail', item.id]"
      detail="false"
    >
      <ion-thumbnail slot="start" class="border-radius-none">
        <ion-img [src]="createPokemonImageUrl(item.pokedexId)"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name | languageTranslate }}</h2>
      </ion-label>
      <ion-chip
        [color]="type.name | languageTranslate: true | lowercase"
        *ngFor="let type of item.pokemonTypes"
      >
        <ion-icon
          [name]="type.name | languageTranslate: true | lowercase"
        ></ion-icon>
      </ion-chip>
    </ion-item>
  </ng-container>
</cdk-virtual-scroll-viewport>
