<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ title | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" translate>BUTTONS.CLOSE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item
      *ngFor="let choice of choices"
      (click)="selectChoice(choice.value)"
    >
      <ion-label>
        <h2>{{ choice.label | translate }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
